@mixin btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    color: $footer-text-color;
  }
}

@mixin container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  justify-items: center;
  row-gap: 60px;
}
