$primary-color: #017efe;
$text-color: #fdfdfd;
$background-color-light: #414141;
$background-color-dark: #1e1e1e;
$footer-text-color: #babfc3;
$header-fontsize: 33px;
$fontsize: 13px;
$hover-color: orange;