@import "../../index.scss";

.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 218px;
  background-color: $background-color-dark;
  line-height: 2;

  .footer__content {
    margin: 42px 0 0 131px;
    color: $footer-text-color;

    .footer__nav {
      font-size: $fontsize;

      a {
        margin-right: 0.5rem;
        margin-left: 0.5rem;

        &:hover {
          color: $hover-color;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
    p {
      font-size: $fontsize - 1;
    }
    .footer__social {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 131px;
      &__left {
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          height: 30px;
          cursor: pointer;
        }
      }
      &__right {
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          height: 40px;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 1020px) {
  .container {
    .footer__content {
      margin: 10px 0 0 20px;
      .footer__social {
        &__right {
          margin-top: 20px;
        }
      }
    }
  }
}
